$navFontFamily: Acumin;

$headerFontFamily: Acumin;

$footerFontFamily: Acumin;

// splash page
$expressFontFamily: Impact;

$splahLabelFontFamily: Impact;
// product page

$cateBannerFontFamily: Impact;

$productNameFontFamily: Arial Narrow;

$priceFontFamily: Kozuka Gothic Pr6N;

$addToCartFontFamily: Kozuka Gothic Pr6N;

// cart page
$cartPageFontFamily: Acumin;