$headerBg: white;

$navBg: #b7dabb;

$searchBoxBorder: #626262;

$searchPlaceHolder: #959392;
// splash page

$ExpressText: #006f36;

$labelBg:#006f36;

$pageBg: #f4f6f9;

// products page

$labelText: #006f36;

$numBoxBg: #d2d2d2;

$numText: #454343;

$numBoxBorder: #313131;

// cart page
$cartIcon: #006f36;

$cartNumBg: #ea5514;

$cartTabMainText: #222830;

$cartTabSubText: #707377;

$footerBg: #006f36;

$saveBtnBg: #bfbfbf;

$saveBtnText: #222830;

$checkoutBtnBg: #facf33;

$checkoutBtnText: #000000;